


// 2x pic
@function px2rem($px){
    @return ($px / $rem_value)/2 + rem;
}

// 1x pic
@function px1rem($px) {
    @return ($px / $rem_value) + rem;
}

// 2x pic 
@function rem($px) {
    @return ($px / $rem_value)/2 + rem;
}


