
.hz_none {
    display: none;
}

.clear_both {
    @extend %clearboth;
}

.max_h {
    max-height: 100%;
}
.max_w {
    max-width: 100%;
}
.w_100 {
    width: 100%;
}
.h_100 {
    height: 100%;
}
.wh_100 {
    @extend %wh100;
}

.hz_content_none {
    width: 100%;
    clear: both;
}


.center_block {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.hz_a_default {
    color: darken(#f7f7f7,70%);
    &:visited {
        color: darken(#f7f7f7,70%);
    }
    &:active {
        color: darken(#f7f7f7,70%);
    }
    &:link {
        color: darken(#f7f7f7,70%);
    }
    &:hover {
        color: darken(#f7f7f7,70%);
    }
}
.hz_a_default2 {
    color: darken(#f7f7f7,50%);
    &:visited {
        color: darken(#f7f7f7,50%);
    }
    &:active {
        color: darken(#f7f7f7,50%);
    }
    &:link {
        color: darken(#f7f7f7,50%);
    }
    &:hover {
        color: darken(#f7f7f7,50%);
    }
}


.hz_fontpho_color1 {
    color: darken(#f7f7f7,70%);
}
.hz_fontpho_color2 {
    color: darken(#f7f7f7,50%);
}
.hz_fontpho_color3 {
    color: darken(#f7f7f7,60%);
}

.hz_cur_po {
    @extend %cursor-pointer;
}

.hz_po_fix {
    @extend %fixed;
}


.mar_b_30 {
    margin-bottom: 30px;
}

.pad_0 {
    padding: 0px;
}


.hz_dz_button:focus,
.hz_dz_button:link,
.hz_dz_button:active,
.hz_dz_button:visited,
.hz_dz_button:hover,
button,
button:hover,
button:focus,
button:visited,
button:active {
    -webkit-outline: none;
    -moz-outline: none;
    outline: none;
}