


$z-layers: (
    "xxx": (
        "aaa": 500,
        "bbb": 100,
        "ccc": 50,
    ),
    "version_zindex": 1000,
    "default": 1,
    "below": -1,
    "loading_bg": 99999,
    "header": 1001,
    "integral_code": 1002
);

@function map-has-nested-keys($map, $keys...) {
     @each $key in $keys {
        @if not map-has-key($map, $key) {
             @return false;
        }
        $map: map-get($map, $key);
    }

    @return true;
}

@function map-deep-get($map, $keys...) {
     @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

@function z($layers...) {
     @if not map-has-nested-keys($z-layers, $layers...) {
        @warn "No layer found for `#{inspect($layers...)}` in $z-layers map. Property omitted.";
    }

    @return map-deep-get($z-layers, $layers...);
}

// z-index: z("small-screen");
// z-index: z("xxx", "aaa");
