
// new
.page_login_new_wrap {
    @extend %wh100;
    @extend %absolute;
    background: #fff;
}
.page_lnw_contain {
    height: 400px;
    width: 360px;
    @extend %center-block2;
    top: 38%;
    text-align: center;
    > h1 {
        font-size: 32px;
        font-weight: bolder;
        margin-bottom: 10px;
    }
}

.page_lnw_input {
    font-size: 14px;
    width: 340px;
    height: 46px;
    padding: 12px;
    line-height: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    -webkit-appearance: none;
    @include transition(border .3s);
    margin-top: 25px;
}

.page_login_verify {
    @extend .page_lnw_input;
    width: 240px;
    margin: 0px 10px 0 0;
}

.page_lnw_submit {
    background-color: #3DA8F5;
    width: 340px;
    height: 46px;
    font-size: 16px;
    border: 1px solid #3DA8F5;
    border-radius: 3px;
    color: #fff;
    letter-spacing: 4px;
    outline: none;
    @include setFlex;
    @include setFlexXYCenter;
    margin: 25px 12px 0;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
}
.page_lnw_space {
    height: 46px;
    width: 100%;
    position: relative;
}
.page_lnws_main {
    width: 100%;
    height: 100%;
    @extend %center-block2;
    @include setFlex;
    @include setFlexXYCenter;
    & > li {
        padding: 0 0px 0 30px;
        @include transition(padding-left .3s ease);
    }
    & > i {
        font-size: 24px;
        opacity: 0;
        @include transition(opacity .3s ease);
    }
    &:hover > li {
        padding-left: 0px;
    }
    &:hover > i {
        opacity: 1;
    }
}



.page_login_v_wrap {
    @include setFlex;
    @include setFlexDirection(row-reverse);
    @include alignItems(center);
    margin-top: 16px;
}


.page_lnw_input::-webkit-input-placeholder {
    color: rgba(128, 128, 128, .5);
    font-size: 16px;
} 
.page_lnw_input:-moz-placeholder {
    color: rgba(128, 128, 128, .5);
    font-size: 16px;
} 
.page_lnw_input::-moz-placeholder {
   color: rgba(128, 128, 128, .5);
   font-size: 16px;
} 
.page_lnw_input:-ms-input-placeholder {
    color: rgba(128, 128, 128, .5);
    font-size: 16px;
} 
.page_lnw_input:focus {
    outline: none;
    border: 1px solid #9c9c9c;
}


