
// common header
$module_header_padding_left: 18%;
$module_header_padding_right: 25%;

$module_header_height: 60px;

.module_com_header {
    width: 100%;
    height: $module_header_height;
    @extend %relative;
    @include userSelect;
    min-width: $page_min_width;
}

.mc_header_main {
    padding: 0 $module_header_padding_right 0 $module_header_padding_left;
}

.mc_header_icon {
    @extend %absolute2;
    font-weight: bold;
    font-size: 24px;
    color: rgba(50, 50, 50, 1);
    line-height: 50px;
    width: $module_header_padding_left;
    text-align: center;
}

.mc_header_user {
    width: $module_header_padding_right;
    @extend %absolute2;
    right: 0px;
    top: -5px;
    height:  $module_header_height;
    @include setFlex;
    @include setFlexXYCenter(flex-end);
    font-size: 14px;
    padding-right: 8%;
    > aside {
        color: #000;
        
    }
}

.module_comm_header_menu {
    min-width: 200px;
    margin-top: 10px;
    text-align: center;
}
.module_comm_header_acc_menu {
    @extend .module_comm_header_menu;
    min-width: 120px;
}

.module_comm_hm_quit {
    margin-top: 10px;
}

.mc_header_right {
    @include setFlex;
    @include setFlexXYCenter;
    > li {
        &:first-child {
            margin-right: 10px;
        }
    }
}

.module_comm_hm_user {
    $h: 24px;
    height: $h;
    width: $h;
    border-radius: $h / 2;
    text-align: center;
    margin-top: -10px;
}



// common title
//* zf
.module_com_title {
    padding: 10px 10px 10px 0;
    @include setFlex;
    @include alignItems(center);
    > h1 {
        font-size: $h1_fz;
        letter-spacing: 2px;
        color: $color_h;
    }
    > button {
        margin-right: 10px;
    }
}
// zf*


.ant-table-title {
    font-size: $h1_fz;
}


