
// common footer
.module_com_footer {
    height: 50px;
    width: 100%;
    background: #fff;
    margin-top: 60px;
    @include MQ5(1080px){
        position: fixed;
        left: 0px;
        bottom: 0px;
    }
}

