// initial
@include initial(auto);

a, a:hover {
    color: #000;
}

body {
    background: rgba(240, 240, 240, 1);
    overflow: auto;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

// common
.all_wrap {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

// main
.page_main {
    margin: 20px auto 0;
    width: $page_min_width;
    background: #fff;
}

// antd - Tooltip
.ant-tooltip.ant-tooltip-placement-top {
    z-index: 1;
}

