

// account list
.ant-table-tbody .ant-table-row a {
    padding: 4px;
    text-decoration: underline;
}

.page_account_column {
    // max-width: 100px;
    width: 160px;
}


// pageAccountInfo
.page_account_hr {
    opacity: .3;
}

.page_account_txt {
    padding: 0 0 10px;
    font-size: 14px;
    color: rgba(128, 128, 128, .8);
    text-align: right;
    margin-top: 10px;
}

.page_account_inputs {
    padding: 20px 0 40px;
}
.page_account_inputs2 {
    padding: 0px 0 10px;
}
.page_account_span {
    padding-top: 7px;
    font-size: 14px;
}

.p_a_td_maxwidth {
    text-align: center;
}

.page_baskets_name {
    .ant-table-tbody > tr > & {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
    }
    .page_basket_btns {
        transition-property: opacity;
        transition-delay: .5s;
        opacity: 0;
    }
    :hover .page_basket_btns {
        opacity: 1;
        transition-delay: 0s;
    }
}
.page_basket_link_wp {
    @include setFlex;
}
.page_basket_link {
    max-width: 220px;
    @include text_omit;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
.page_basket_name_i {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 10px;
    margin-left: 10px;
    &.download {
        font-size: 18px;
    }
    &.delete {
        font-size: 18px;
    }
}



.p_a_td_algo_width {
    max-width: 100px;
    width: 100px;
    @include text_omit;
}

.page_account_error {
    color: red;
    font-size: 14px;
    margin-left: 6px;
    cursor: pointer;
}

.page_account_warn {
    color: orange;
    font-size: 14px;
    margin-left: 6px;
    cursor: pointer;
    position: relative;
    top: 2px;
}

.page_sorted_table .ant-table-column-sorter {
    > span {
        &:first-of-type {
            > i {
                margin: -6px 0 4px;
            }
        }
    }
}
.page_sorted_table .ant-table-row td.page_acc_setting_wrap {
    padding: 0px;
}
.page_sorted_table.page_sorted_table_background .ant-table-footer {
    background: red;
}


.page_acc_setting {
    @include setFlex;
    @include setFlexXYCenter;
}

.page_acc_file_name {
    & ~ & {
        margin-top: 20px;
    }
}

// pageBasketInfo
.page_orders_contain {
    width: 100%;
    overflow: auto;
    padding-bottom: 20px;
}
.ant-progress-text {
    width: 44px;
}

.page_orders_contain .ant-progress-outer {
    width: 110px;
}



// pageAccountDetail
.pa_tb_detail {
    margin-top: 20px;
}



// pageBasketInfo
.page_order_list_algo {
    line-height: 10px;
}



