<!DOCTYPE html>
<html lang="zh-en">
    <head>
        <title> <%= htmlWebpackPlugin.options.title %> </title>
        <meta charset="utf-8"/>
        <meta name="keywords" content=<%= htmlWebpackPlugin.options.title %> />
        <meta name="description" content=<%= htmlWebpackPlugin.options.title %> />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta content="telephone=no" name="format-detection" />
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="cache-control" content="max-age=7200"/>
        <link rel="shortcut icon" type="image/x-icon" href="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
        <link href="//at.alicdn.com/t/font_776410_7i945aw0kbf.css" rel="stylesheet" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/antd/2.13.1/antd.min.css" />
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
