
.module_loading_wrap {
    @extend %fixed;
    @extend %wh100;
    z-index: z("loading_bg");
}

.module_loading_sight {
    width: 100px;
    height: 100px;
    @extend %center-block2;
    top: 40%;
    > div {
        @extend %center-block2;
        @include transform(scale(1.2));
    }
    .ant-spin-text {
        margin-top: 20px;
    }
}




