
// guideresetpwd
.page_gresetpwd_wrap {
    @extend .page_login_new_wrap;
}

.page_gtd_contain {
    @extend .page_lnw_contain;
    > h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
}

.page_gtd_input {
    @include relative;
}
.page_gtd_icon {
    width: 32px;
    height: 32px;
    @extend %absolute2;
    top: 70%;
    right: 0px;
    @include transform(translate(-50%,-50%));
    > i {
        font-size: 32px;
        &.input_success {
            color: $color4;
        }
        &.input_fail {
            color: $color1;
        }
    }
}

.page_gtd_strength {
    @include relative;
    margin-top: 10px;
    left: 3%;
    width: 94%;
    height: 20px;
    background: rgba(240, 240, 240, 1);
    display: block;
    overflow: hidden;
    @include border-radius(4px);
    @include setFlex;
    @include userSelect;
    > li {
        width: 33.3333333%;
        font-size: 12px;
        line-height: 22px;
        color: rgba(200, 200, 200, 1);
    }
    &.strength1 {
        > li:first-of-type {
            background: red;    
            color: #fff;
        }
    }
    &.strength2 {
        > li:nth-of-type(2) {
            background: orange;    
            color: #fff;
        }
    }
    &.strength3 {
        > li:nth-of-type(3) {
            background: green;    
            color: #fff;
        }
    }
}

